* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
html,
body {
height: 100%;
width: 100%;
}
body{
background-color: #222;
color: #fff;
}

.btn1, .btn2, .btn3, .btn4 {
    padding: 20px 30px;
    background-color: #000;
    border-radius: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
}

.btn1{
    top: 20%;
    left: 10%;
    transition: all 0.5s ease-in;
}
.btn2{
    top: 30%;
    left: 30%;
    transition: all 0.5s ease-out;
}
.btn3{
    top: 40%;
    left: 50%;
    transition: all 0.5s ease-in-out;
}
.btn4{
    top: 50%;
    left: 70%;
    transition: all 0.5s linear;
}
button:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

ol {
    list-style-type: none;
    padding: 20px;
    background-color: #000;
    border-radius: 10px;
}

li:hover::before{
    content: " 🚀";
    padding: 10px;
    transition: all 0.5s ease-out;
}

li:hover::after{
    content: " 🔥";
    margin-left: 10px;
}

